body {
    background-color: orange;
}

.out-number {
    text-align: right;
}

.invalid-input {
    color: red;
    visibility: hidden;
}

#title {
    text-align: right;
    font-size: 12pt;
    font-family: cursive;
    color: darkblue;
}
